.listing-detail {
  flex: 9;
}

.listing-detail-content {
  padding: 20px 0px 20px 20px;
}

.listing-detail-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 5px;
}

.listing-detail-title {
  text-align: center;
  font-size: 38px;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.listing-detail-action {
  float: right;
  font-size: 30px;
}

.listing-detail-action-icon {
  font-size: 22px;
  margin-left: 12px;
  cursor: pointer;
}

.listing-detail-action-icon:first-child {
  color: rgb(47, 126, 47);
}

.listing-detail-action-icon:last-child {
  color: rgb(190, 45, 9);
}

.listing-detail-meta-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(139, 128, 128);
  margin-bottom: 22px;
}

.listing-detail-description {
  line-height: 26px;
  font-size: 16px;
  color: rgb(56, 53, 53);
}

.listing-detail-description::first-letter {
  margin-left: 15px;
  font-size: 26px;
  font-weight: 650;
  color: var(--primary-color);
}
